/ChangeColor.class
/ClipBox.class
/DrawLine.class
/Dunkler.class
/EraseBox.class
/FFT.class
/FFTHighPass.class
/FFTLowPass.class
/FillBox.class
/FillBoxWithImage.class
/FillCircle.class
/FillEllipse.class
/FillPolygon.class
/Gaussian.class
/Heller.class
/InsertImage.class
/InsertText.class
/Invert.class
/Lupe.class
/Median.class
/Punkt.class
/Rescale.class
/Rotate.class
/SetPixel.class
/SharpeWithGain.class
/ShiftIcon.class
/Sobel.class
/Strecke.class
/SwitchColor.class
/ToGray.class
/MakeTransparent.class
